<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.dao.TestUserMapper">

    <resultMap id="userResultMap" type="com.common.TestUser">
        <id column="id" property="id"/>
        <result column="age" property="age"/>
        <result column="user_name" property="userName"/>
        <result column="identity_card" property="identityCard"/>
        <result column="phone" property="phone"/>
    </resultMap>

    <sql id="Base_Column_List">
       id,age,user_name,identity_card,phone
    </sql>

    <select id="getAll" resultMap="userResultMap">
      select
        <include refid="Base_Column_List"/>
        from test_user
    </select>

    <insert id="insertAll" parameterType="com.common.TestUser">
        insert into test_user (age,user_name,identity_card,phone)
        values (#{age},#{userName},#{identityCard},#{phone})
    </insert>


</mapper>